.header img {
  height: 40px;
}
.header {
  text-align: center;
}
.header nav {
  background-color: #dbd3d2;
  line-height: 40px;
  font-size: 20px;
}
nav a {
  text-decoration: none;
  color: rgb(80, 134, 204);
  margin-right: 20px;
  padding: 5px;
}
nav a:hover {
  background-color: #353b48;
  color: white;
  border-radius: 10%;
  text-decoration: none;
}
